@use 'base/variables' as v;

.alerta{
    padding: calc(v.$separacion/8);
    color: v.$blanco;
    width: 100%;
    display: block;
    margin-bottom: 1.3rem;
    text-align: center;
    font-weight: v.$bold;
    &.error{
        background-color: v.$rojo;
    }
    &.exito{
        background-color: v.$verde;
    }
}