// Fuentes
$fuente_principal: "Montserrat", sans-serif;

// Tamaño de Media Queries
$telefono320: 320px;
$telefono375: 375px;
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Paleta de Colores
$colorFondoPagina: #F2F2F2;
$colorCabacera: #f2c641;
$colorTexto: #333333;


$azul: #0da6f3;
$rojo: #cb0000;
$verde:#329f00;
$negro: #333333;

$blanco: #FFFFFF;
$gris: #e1e1e1;

$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900