@use 'base/variables' as v;
@use 'base/mixins' as m;

.opciones{
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

    @include m.tablet {
        flex-direction: row;
        gap: 3rem;
    }

    a{
        text-decoration: none;
        color: v.$negro
    }   
}

.campoBuscar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    input{
        width: 100px;
        border-radius: 1rem;
        padding: 1rem 0;
        @include m.tablet {
            width: 60%;
        }
    }
}

.boton-opcion{
    @include m.boton (v.$colorCabacera, v.$negro);
    margin: 0.6rem 0;
    border-radius: 1rem;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1rem;
    @include m.tablet {
        
    }
}

.buscar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    label{
        color: v.$colorTexto;
    }
    @include m.tablet {
        flex-direction: row;
        .boton-comun{
            margin: 0;
        }
    }
    
}

.buscar-boton{
    color: v.$colorTexto;
    background-color: v.$colorCabacera;
    transition-property: background-color;
    transition-duration: .3s;
    border-radius: 1rem;
    margin-left: 1rem;

    &:hover {
        background-color: darken( v.$colorCabacera, 10% );
        cursor: pointer;        
    }
}
    
