@use 'base/variables' as v;
@use 'base/mixins' as m;


.bg-menu{
    background-color: v.$colorCabacera;
    // margin-bottom: 3rem;
}

.nav__menu{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;    
    list-style-type: none;
    font-size: 2rem; 
    @include m.tablet{
        margin: 0;
        padding: 1.5rem 0;               
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }    
}
@media (max-width: 320px) {
    .nav__menu{   
        flex-direction: column;
        gap: 0.4rem;
    }
}
